<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSFF 原生的，使用简单，自由组合，功能丰富</title>
    <link rel="stylesheet" href="../../osff-design/styles/index.css">
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>

    <div>
        <button 
            o-template="button" 
            o-key='btn1' 
            o-type="full" 
            o-color="#1890ff"
            o-shape="circle"
            o-icon="icon-search_24px"
        ></button>
        <button 
            o-template="button" 
            o-key='btn2' 
            o-type="full" 
            o-color="#1890ff"
            o-shape="circle"
            o-text = "圆角按钮"
        ></button>
        <button 
            o-template="button" 
            o-key='btn3' 
            o-type="full" 
            o-color="#1890ff"
            o-icon="icon-downloadxiazai"
            o-shape="circle"
            o-text="下载"
        ></button>
    </div>

</body>
</html>

<script src="../../osff-design/require.js" defer async="true" data-main="../../osff-design/main.js"></script>

<script>

</script>