<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OSFF 原生的，使用简单，自由组合，功能丰富</title>
    <link rel="stylesheet" href="../../osff-design/styles/index.css">
    <link rel="stylesheet" href="../../assets/style.css">
</head>
<body>

    <div>
        <i id="icon" o-template="icon" o-key='a' o-type="icon-address" o-size="100" o-color="#fa0" o-click="clickIcon"></i>
    </div>

</body>
</html>

<script src="../../osff-design/require.js" defer async="true" data-main="../../osff-design/main.js"></script>

<script>
    window.osff = {
        methods:{
            clickIcon:function(event){
                //点击时执行
                $('#icon').css({
                    color:'#0af'
                })
            }
        }
    }

</script>