<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Icon</title>
  <link rel="stylesheet" href="https://g.alicdn.com/thx/cube/1.3.2/cube.min.css">
  <link rel="stylesheet" href="../../osff-design/styles/iconfont/demo.css">
  <link rel="stylesheet" href="../../osff-design/styles/index.css">
  <script src="../../osff-design/styles/iconfont/iconfont.js"></script>
</head>
<body >
  <div class="main" style="width:1000px;padding:0">
      <div class="content font-class">
        <ul class="icon_lists dib-box">
          
          <li class="dib">
            <span class="icon iconfont icon-address"></span>
            <div class="code-name">icon-address
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tubiao09"></span>
            <div class="code-name">icon-tubiao09
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-message"></span>
            <div class="code-name">icon-message
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-jiantouarrow494"></span>
            <div class="code-name">icon-jiantouarrow494
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-phone"></span>
            <div class="code-name">icon-phone
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-qq"></span>
            <div class="code-name">icon-qq
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-weibo"></span>
            <div class="code-name">icon-weibo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-zhifubao"></span>
            <div class="code-name">icon-zhifubao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tel"></span>
            <div class="code-name">icon-tel
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-remen"></span>
            <div class="code-name">icon-remen
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-youxiang"></span>
            <div class="code-name">icon-youxiang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-remen1"></span>
            <div class="code-name">icon-remen1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-home"></span>
            <div class="code-name">icon-home
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shop-car"></span>
            <div class="code-name">icon-shop-car
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-liucheng2"></span>
            <div class="code-name">icon-liucheng2
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-api1"></span>
            <div class="code-name">icon-api1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-xingbienv"></span>
            <div class="code-name">icon-xingbienv
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-xingbienan"></span>
            <div class="code-name">icon-xingbienan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-form"></span>
            <div class="code-name">icon-form
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-audio1"></span>
            <div class="code-name">icon-audio1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-zan1"></span>
            <div class="code-name">icon-zan1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-star1"></span>
            <div class="code-name">icon-star1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-heart"></span>
            <div class="code-name">icon-heart
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-ziyuan"></span>
            <div class="code-name">icon-ziyuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-fuwu1"></span>
            <div class="code-name">icon-fuwu1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_huabanfuben"></span>
            <div class="code-name">icon-icon_huabanfuben
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-heart1"></span>
            <div class="code-name">icon-heart1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-fuwu2"></span>
            <div class="code-name">icon-fuwu2
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-bxl-baidu"></span>
            <div class="code-name">icon-bxl-baidu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-bxl-apple"></span>
            <div class="code-name">icon-bxl-apple
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-552cd5c76f532"></span>
            <div class="code-name">icon-552cd5c76f532
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_user"></span>
            <div class="code-name">icon-icon_user
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_close"></span>
            <div class="code-name">icon-icon_close
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_lock"></span>
            <div class="code-name">icon-icon_lock
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_edit"></span>
            <div class="code-name">icon-icon_edit
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_hide"></span>
            <div class="code-name">icon-icon_hide
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_task1"></span>
            <div class="code-name">icon-icon_task1
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon_png"></span>
            <div class="code-name">icon-icon_png
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-DoubleChevronUp1-24px"></span>
            <div class="code-name">icon-DoubleChevronUp1-24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-DoubleChevronRight1-24px"></span>
            <div class="code-name">icon-DoubleChevronRight1-24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon-xian-05"></span>
            <div class="code-name">icon-icon-xian-05
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-icon-mian-05"></span>
            <div class="code-name">icon-icon-mian-05
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-add_24px"></span>
            <div class="code-name">icon-add_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-error_outline_24px"></span>
            <div class="code-name">icon-error_outline_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-more_horiz_24pxbeifen2"></span>
            <div class="code-name">icon-more_horiz_24pxbeifen2
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-arrow_left_24px"></span>
            <div class="code-name">icon-arrow_left_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-arrow_right_24px"></span>
            <div class="code-name">icon-arrow_right_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-arrow_drop_up_24px"></span>
            <div class="code-name">icon-arrow_drop_up_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-arrow_drop_down_24px"></span>
            <div class="code-name">icon-arrow_drop_down_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-arrow_back_24px"></span>
            <div class="code-name">icon-arrow_back_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-chevron_left_24px"></span>
            <div class="code-name">icon-chevron_left_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-chevron_right_24px"></span>
            <div class="code-name">icon-chevron_right_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-expand_more_24px"></span>
            <div class="code-name">icon-expand_more_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-expand_less_24px"></span>
            <div class="code-name">icon-expand_less_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-date_range_24px"></span>
            <div class="code-name">icon-date_range_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-delete_24px"></span>
            <div class="code-name">icon-delete_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-visibility"></span>
            <div class="code-name">icon-visibility
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-search_24px"></span>
            <div class="code-name">icon-search_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-smsadd"></span>
            <div class="code-name">icon-smsadd
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-check_circle_24px"></span>
            <div class="code-name">icon-check_circle_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-notifications_none_24px"></span>
            <div class="code-name">icon-notifications_none_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-mic-24px"></span>
            <div class="code-name">icon-mic-24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-QR_code_24px"></span>
            <div class="code-name">icon-QR_code_24px
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-daojishi"></span>
            <div class="code-name">icon-daojishi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tiaotikongjian"></span>
            <div class="code-name">icon-tiaotikongjian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-kaoshikongjian"></span>
            <div class="code-name">icon-kaoshikongjian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shu"></span>
            <div class="code-name">icon-shu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-eCharts"></span>
            <div class="code-name">icon-eCharts
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-baiduditu"></span>
            <div class="code-name">icon-baiduditu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-gaodeditu"></span>
            <div class="code-name">icon-gaodeditu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-liubujubiaodan"></span>
            <div class="code-name">icon-liubujubiaodan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-biaodanxiangrongqi"></span>
            <div class="code-name">icon-biaodanxiangrongqi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-biaodanxialaxuankuang"></span>
            <div class="code-name">icon-biaodanxialaxuankuang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shijianxuanzeqi"></span>
            <div class="code-name">icon-shijianxuanzeqi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-fuxuankuangliebiao"></span>
            <div class="code-name">icon-fuxuankuangliebiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-fuxuankuang"></span>
            <div class="code-name">icon-fuxuankuang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-danxuankuangliebiao"></span>
            <div class="code-name">icon-danxuankuangliebiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-danxuankuang"></span>
            <div class="code-name">icon-danxuankuang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-kaiguananniu"></span>
            <div class="code-name">icon-kaiguananniu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-kapian"></span>
            <div class="code-name">icon-kapian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-mianbanliebiao"></span>
            <div class="code-name">icon-mianbanliebiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-liaotianjilu"></span>
            <div class="code-name">icon-liaotianjilu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-wuliuliuchengtu"></span>
            <div class="code-name">icon-wuliuliuchengtu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shoufengqin"></span>
            <div class="code-name">icon-shoufengqin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-wenjianxuanze"></span>
            <div class="code-name">icon-wenjianxuanze
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-wenjianyulan"></span>
            <div class="code-name">icon-wenjianyulan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-yansexuanzeqi"></span>
            <div class="code-name">icon-yansexuanzeqi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-fuwenbenbianji"></span>
            <div class="code-name">icon-fuwenbenbianji
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-gongzuobiao"></span>
            <div class="code-name">icon-gongzuobiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-liuchengtu"></span>
            <div class="code-name">icon-liuchengtu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-pingfenmoban"></span>
            <div class="code-name">icon-pingfenmoban
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-pingfen"></span>
            <div class="code-name">icon-pingfen
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shipin"></span>
            <div class="code-name">icon-shipin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tupian"></span>
            <div class="code-name">icon-tupian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shijianzhou"></span>
            <div class="code-name">icon-shijianzhou
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-boxingtu"></span>
            <div class="code-name">icon-boxingtu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-tianjiadaankongjian"></span>
            <div class="code-name">icon-tianjiadaankongjian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-biaodanwenbenkuang"></span>
            <div class="code-name">icon-biaodanwenbenkuang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-shuzishurukuang"></span>
            <div class="code-name">icon-shuzishurukuang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-anniu"></span>
            <div class="code-name">icon-anniu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-riqishijiankuang"></span>
            <div class="code-name">icon-riqishijiankuang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-wenbenbiaoqian"></span>
            <div class="code-name">icon-wenbenbiaoqian
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-belltongzhi"></span>
            <div class="code-name">icon-belltongzhi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-alert-triangleyichang"></span>
            <div class="code-name">icon-alert-triangleyichang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-btn_icon_guanbi"></span>
            <div class="code-name">icon-btn_icon_guanbi
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-eyechuanyue"></span>
            <div class="code-name">icon-eyechuanyue
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-downloadxiazai"></span>
            <div class="code-name">icon-downloadxiazai
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-filtershaixuan"></span>
            <div class="code-name">icon-filtershaixuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-device-floppybaocun"></span>
            <div class="code-name">icon-device-floppybaocun
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-editbianji"></span>
            <div class="code-name">icon-editbianji
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-linklianjie"></span>
            <div class="code-name">icon-linklianjie
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-locksuo"></span>
            <div class="code-name">icon-locksuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-lock-openkaisuo"></span>
            <div class="code-name">icon-lock-openkaisuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-plustianjia"></span>
            <div class="code-name">icon-plustianjia
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-logoutdaochu"></span>
            <div class="code-name">icon-logoutdaochu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-logindaoru"></span>
            <div class="code-name">icon-logindaoru
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-paletteseban"></span>
            <div class="code-name">icon-paletteseban
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-refreshshuaxin"></span>
            <div class="code-name">icon-refreshshuaxin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-printerdayin"></span>
            <div class="code-name">icon-printerdayin
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-searchsousuo"></span>
            <div class="code-name">icon-searchsousuo
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-sendfasong"></span>
            <div class="code-name">icon-sendfasong
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-scansaomiao"></span>
            <div class="code-name">icon-scansaomiao
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-uploadshangchuan"></span>
            <div class="code-name">icon-uploadshangchuan
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-trashshanchu"></span>
            <div class="code-name">icon-trashshanchu
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-starshoucang"></span>
            <div class="code-name">icon-starshoucang
            </div>
          </li>
          
          <li class="dib">
            <span class="icon iconfont icon-sharefenxiang"></span>
            <div class="code-name">icon-sharefenxiang
            </div>
          </li>
          
        </ul>
      </div>
      
  </div>
  <script>
  $(document).ready(function () {
      $('.tab-container .content:first').show()

      $('#tabs li').click(function (e) {
        var tabContent = $('.tab-container .content')
        var index = $(this).index()

        if ($(this).hasClass('active')) {
          return
        } else {
          $('#tabs li').removeClass('active')
          $(this).addClass('active')

          tabContent.hide().eq(index).fadeIn()
        }
      })
    })
  </script>
</body>
</html>
